<!DOCTYPE html>
<html>
<head>
	<title>Create New Journal Entry</title>
</head>
<body>
	<h1>Create New Journal Entry</h1>
	<form method="POST" action="{{ url_for('create') }}">
		<label for="title">Title:</label><br>
		<input type="text" id="title" name="title"><br><br>
		<label for="content">Content:</label><br>
		<textarea id="content" name="content" rows="10" cols="30"></textarea><br><br>
		<input type="submit" value="Save">
	</form>
	<br>
	<a href="{{ url_for('index') }}">Back to Home Page</a>
</body>
</html>
